<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Let's Get In Touch!</h2>
				<hr class="primary">
				<p>Ready to start your next project in IoT ! checkout our github repository</p>
			</div>
			<div class="col-lg-2 col-lg-offset-1 text-center">
				<a href="https://github.com/{{ site.github_username }}">
					<i class="fa fa-githubfa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>{{ site.github_username }}</p>
				</a>
			</div>
		</div>
	</div>
</section>
