<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-justify">
				<h2 class="section-heading">Welcome to AoLab</h2>
				<p class="text-faded">
				AoLab ! AoLab is a collection of shakh persons who want to do some IoT shakh works.
				This group intend to create an Internet of Things Platform for Amirkabir University of Technology
				and We are the middleware team of AoLab.
				We created I1820 as an IoT middleware platform and we used it in our university platform successfully.
				In I1820 we have created a system that can handle your things for you and create simple RESTful API
				for you to manage your things easily.
				</p>
				<h2 class="section-heading">AoLab IoT Architecture</h2>
				<p class="text-faded">
				We are 3 layer at AoLab and middleware is just one of them, many people and professors contribute
				in this projec and again we are just part of a great team :)
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<img class="img-responsive img-thumbnail" src="documentation/architecture/architecture-Main.jpg" />
			</div>
			<div class="col-md-2">
				<img class="img-responsive img-thumbnail" src="documentation/architecture/architecture-Layers.jpg" />
			</div>
		</div>
	</div>
</section>
