<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="section-heading">Welcome to AoLab</h2>
				<hr class="light">
				<p class="text-faded">
				This project is intended to create an Internet of Things Platform for Amirkabir University of Technology.
				This project uses I1820 as the middleware.
				In this project we have created a system that can handle RESTful web services to turn the lamps on and off :D.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<img class="img-responsive img-thumbnail" src="documentation/architecture/architecture-Main.jpg" />
			</div>
			<div class="col-md-2">
				<img class="img-responsive img-thumbnail" src="documentation/architecture/architecture-Layers.jpg" />
			</div>
		</div>
	</div>
</section>
