<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-justify">
				<h2 class="section-heading">Welcome to AoLab</h2>
				<p class="text-faded">
				AoLab ! AoLab is a collection of shakh persons who want to do some IoT shakh works.
				This group intend to create an Internet of Things Platform for Amirkabir University of Technology
				and We are the middleware team of AoLab.
				We created I1820 as an IoT middleware platform and we used it in our university platform successfully.
				In I1820 we have created a system that can handle your things for you and create simple RESTful API
				for you to manage your things easily.
				</p>
				<h2 class="section-heading">AoLab IoT Architecture</h2>
				<p class="text-faded">
				We are 3 layer at AoLab and middleware is just one of them, many people and professors contribute
				in this projec and again we are just part of a great team :)
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<img class="img-responsive img-thumbnail" alt="architecutre-Main" src="documentation/architecture/architecture-Main.jpg" />
			</div>
			<div class="col-md-2">
				<img class="img-responsive img-thumbnail" alt="architecture-Layers" src="documentation/architecture/architecture-Layers.jpg" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-justify">
				<h2 class="section-heading">Are you ready for TaaS ?</h2>
				<h6>If you roll a dice, it turns hundred times...</h6>
				<p class="text-faded">
				TasS is a Iman Tabrizian idea for creating a service oriented platform for IoT.
				In this platform we present I1820 as a service with docker, every client get their
				specific I1820 with their specific key.
				<strong>Every person has an I1820</strong>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<img class="img-responsive img-thumbnail" alt="TaaS" src="documentation/architecture/TaaS.jpg" />
			</div>
		</div>

	</div>
</section>
