<section id="members" class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">AoLab Members</h2>
				<hr class="light">
			</div>
		</div>
	</div>

	<div class="container grid-wrap col-set-one-quarter tablet-col-set-one-half phone-col-set-full">
		<div class="row">
			{% for member in site.data.members %}
			<div class="col-lg-3 col-md-6 col-rtl2 text-center wow fadeIn">
				<a href="{{ member.url }}" class="thumbnail grid-col" target="_blank">

					<img style="max-height: 220px;" src="{{ member.avatar }}" />

					<h2 class="text-faded">{{ member.name }}</h2>

					<h5 class="text-faded">{{ member.bio }}</h5>

					<div class="clear"></div>
					<br>

				</a>
			</div>
			{% endfor %}
		</div>
	</div>

</section>
