<section class="no-padding" id="projects">
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-lg-4 col-sm-6">
				<a href="I1820" class="portfolio-box">
					<img src="img/portfolio/1.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Improved 1820, The IoT Middleware
							</div>
							<div class="project-name">
								I1820
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="" class="portfolio-box">
					<img src="img/portfolio/2.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Improved 1820 Raspberry Pi Plugin
							</div>
							<div class="project-name">
								I1820-RPi
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6">
				<a href="" class="portfolio-box">
					<img src="img/portfolio/3.jpg" class="img-responsive" alt="">
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								Improved 1820 ESP Plugin
							</div>
							<div class="project-name">
								I1820-Arduino
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
