---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.header-img | relative_url }}')">
    <div class="container" style="background-color: rgba(76, 76, 76, 0.7); width: 100%">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="padding: 75px 0">
                    <img src= "{{ site.logo | relative_url }}" alt="Logo" style="height: 150px">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
