---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.header-img | relative_url }}')">
    <div class="container" style="background-color: rgba(76, 76, 76, 0.7); width: 100%">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding: 30px 0">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="row">
{% for member in site.data.members %}
  {% if member.name == page.author %}
    <div class="col-md-2">
      <img src="{{ member.avatar }}" alt="{{member.name}} avatar" class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <h1>{{ member.name }}</h1>
      <h2>{{ member.role }}</h2>

      {% if member.github %}
        <a href="{{member.github}}"><i class="fa fa-github" aria-hidden="true"></i></a>
      {% endif %}
      {% if member.url %}
        <a href="{{member.url}}"><i class="fa fa-user-cirlce" aria-hidden="true"></i></a>
      {% endif %}

      <br>

      {% if member.bio %}
        {{ member.bio }}
      {% endif %}

      <br>

      {{ member.timeline }}
    </div>
  {% endif %}
{% endfor %}

<div class="col-md-6">
  <h4> Recently by the same author: </h4>
  {% for post in site.posts %}
    {% if post.title != page.title and post.author == page.author %}
	    <a href="{{ post.url | relative_url }}"><h2 class="post-title"> {{ post.title }}</h2></a>
      {% if post.subtitle %}
		    <h4 class="post-subtitle">{{ post.subtitle }}</h4>
	    {% endif %}
	    <p class="post-meta" style="margin-top: 5px;margin-bottom:5px; font-size: 0.8em">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
      {% break %}
    {% endif %}
  {% endfor %}
</div>
</div>

<!-- Post Content -->
{% include imagezoom.html %}

<article>
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {{ content | markdownify }}
              <hr>

              <ul class="pager">
                  {% if page.previous.url %}
                  <li class="previous">
                      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                  </li>
                  {% endif %}
                  {% if page.next.url %}
                  <li class="next">
                      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                  </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</article>

<hr>
