---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.header-img | relative_url }}')">
    <div class="container" style="background-color: rgba(76, 76, 76, 0.7); width: 100%">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding: 30px 0">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="reveal">
  <div class="slides">
    {{ content }}
  </div>
</div>

<script src="{{'/js/reveal.js' | relative_url }}"></script>

<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
  width: "100%",
  height: "100%",
  controls: true,
  slideNumber: true
});
</script>
